<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Translation Test Suite">
            <directory suffix=".php">./tests/</directory>
            <exclude>tests/temp</exclude>
            <exclude>tests/lang</exclude>
            <exclude>tests/TestCase.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>